// Import Bulma's core
// @import url("https://unpkg.com/buefy/dist/buefy.min.css");
@import "@/node_modules/bulma/sass/utilities/_all";

// Set your colors
$primary: #ec7e1e;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black
        ),
        "black": (
            $black,
            $white
        ),
        "light": (
            $light,
            $light-invert
        ),
        "dark": (
            $dark,
            $dark-invert
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark
        )
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

.button {
    .icon {
        width: 1rem;
        height: 1rem;
        // display self center
        vertical-align: middle;
        // margin: 0 0.25rem !important;
        // margin-left: 0.55rem !important;
        // margin-right: 0.55rem !important;
        &:not(:first-child) {
            margin-left: 0.55rem !important;
            margin-right: 0.2rem !important;
        }
        &:not(:last-child) {
            margin-right: 0.55rem !important;
            margin-left: 0.2rem !important;
        }
    }
}
// Import Bulma and Buefy styles
// @import "~bulma/bulma";
// @import "~buefy/src/scss/buefy";

@import "@/node_modules/bulma/bulma";
@import "@/node_modules/@oruga-ui/theme-bulma/dist/scss/bulma";

html {
    scroll-behavior: smooth;
}

.button {
    &-wrapper {
        align-items: center;
    }
    .icon {
        width: 1rem;
        height: 1rem;
        align-self: center;
    }
}

.modal {
    display: flex;

    &-content {
        max-width: 100%;
    }
}
