@font-face {
    font-family: CooperHewittLight;
    src: url("/font/CooperHewitt-Light.otf") format("opentype"),
}

@font-face {
    font-family: OpenSansExtraBold;
    src: url("/font/OpenSans-ExtraBold.ttf") format("truetype"),
}

@font-face {
    font-family: PTSansRegular;
    src: url("/font/PTSans-Regular.ttf") format("truetype"),
}