@import 'bulma.scss';
@import 'font.scss';

html,
body {
    font-family: 'PTSansRegular', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #303030;
}

.section-title-wrapper {
    margin-bottom: 35px;
}

.title-divider {
    margin: 10px 0;
    width: 80px;
    height: 5px;
    background: $primary;

    &.is-right {
        margin-left: auto;
    }

    &.is-centered {
        margin: 0 auto;
    }
}

.title {
    font-family: 'OpenSansExtraBold';
    color: #3d3d3d;
}

.subtitle {
    font-family: 'CooperHewittLight';
}

.section-title {
    font-size: 28px;
    font-weight: 600;
}