<script setup lang="ts">
import type { Gallery } from '@/ts/interfaces/Gallery';
import { DateUtil } from '~/util/DateUtil';
import { ImageUtil } from '~/util/ImageUtil';


const config = useRuntimeConfig();
const route = useRoute();

const gallery = ref<Gallery>({} as Gallery);

const loaded = ref(false);
const imageModalActive = ref(false);
const viewImage = ref(0);

useSeoMeta({
    title: `${config.public.meta.fullTitle}`,
    ogTitle: `${config.public.meta.fullTitle}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
function switchImage(dir: number) {
    if (
        !(
            (viewImage.value === 0 && dir === -1) ||
            (viewImage.value === (gallery.value.images.length ?? 0) - 1 && dir == 1)
        )
    )
        viewImage.value += dir;
}

function displayLeft() {
    return viewImage.value !== 0;
}

function displayRight() {
    return viewImage.value !== (gallery.value.images.length ?? 0) - 1;
}

function handleKeydown(event: KeyboardEvent) {
    if (!imageModalActive.value) return;
    if (event.key === 'ArrowLeft' && displayLeft()) {
        switchImage(-1);
    } else if (event.key === 'ArrowRight' && displayRight()) {
        switchImage(1);
    }
}

onMounted(async () => {
    const { ApiUtil } = await import('~/util/ApiUtil');
    let galleriesResponse = await ApiUtil.getGallery(route.params.id as string, true);
    gallery.value = galleriesResponse as Gallery;

    console.log(gallery.value);

    gallery.value.images.sort((a, b) => {
        return a.name.localeCompare(b.name);
    });
    window.addEventListener('keydown', handleKeydown);
    loaded.value = true;
});

</script>

<template>
    <div>
        <o-loading :active="!loaded" :is-full-page="true"></o-loading>
        <div class="container" v-if="loaded" style="padding-top: 45px; padding-bottom: 45px">
            <section class="hero is-small">
                <div class="hero-body has-text-centered">
                    <div class="details has-text-centered">
                        <h1 class="title">{{ gallery.title }}</h1>
                        <div class="gallery__stats">
                            <span>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{
                                    gallery?.activity?.location ? gallery.activity.location :
                                    'Location unkown'
                                }}</span>
                            <span class="stats-separator">·</span>
                            <span> {{ gallery?.activity?.start_date ?
                                DateUtil.formatDate(gallery?.activity.start_date) :
                                'Date unkown' }}</span>
                            <span class="stats-separator">·</span>
                            <span>
                                <i class="fa fa-pictures" aria-hidden="true"></i>Bilder:
                                {{ gallery.images ? gallery.images.length : 0 }}</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero is-small">
                <div class="hero-body has-text-centered">
                    <div class="gallery__youtube-embed colums container is-centered is-multiline">
                        <div v-if="gallery.YouTubeUrl">
                            <!-- YouTube Embed if Url exists -->
                            <div class="column is-12" style="padding: 0 !important;">
                                <div class="video-container">
                                    <iframe width="560" height="315" :src="gallery.YouTubeUrl" frameborder="0"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns container is-centered is-multiline">
                        <div v-for="(image, index) in gallery.images" v-bind:key="index"
                            class="column is-4 is-4-widescreen is-4-fullscreen is-6-tablet">
                            <figure class="image is-4by3">
                                <img class="image gallery-image"
                                    :src="config.public.apiUrl + (gallery.images ? ImageUtil.getImageFormatURL(gallery.images[index], 'medium') : '')"
                                    @click.prevent="viewImage = Number(index); imageModalActive = true;
                                    " />
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <o-modal v-if="loaded" v-model:active="imageModalActive" :scroll="'clip'" class="gallery-image-modal">
                <div class="gallery-image-modal__wrapper">
                    <img class="gallery-image-modal__image"
                        :src="gallery.images ? config.public.apiUrl + gallery.images[viewImage].url : ''" />
                    <div v-if="displayLeft()" class="gallery-image-modal__previous__container" @click="switchImage(-1)">
                        <div class="gallery-image-modal__previous__button">
                            <font-awesome-icon class="gallery-image-modal__previous__icon"
                                :icon="['fas', 'chevron-left']" />
                        </div>
                    </div>
                    <div v-if="displayRight()" class="gallery-image-modal__next__container" @click="switchImage(1)">
                        <div class="gallery-image-modal__next__button">
                            <font-awesome-icon class="gallery-image-modal__next__icon" :icon="['fas', 'chevron-right']" />
                        </div>
                    </div>
                </div>
            </o-modal>
        </div>
    </div>
</template>
  
<style lang="scss" scoped>
.gallery {
    &__stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.6rem;
        color: rgb(134, 134, 134);
        font-size: 18px;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }

    &__youtube-embed {
        margin-bottom: 3rem;
    }
}

.gallery-image-modal {
    width: max-content;

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__image {
        object-fit: contain;
        height: 100%;
    }

    @mixin modal-container {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        width: 6rem;
        opacity: 1;
        transition: 0.5s ease;

        &:hover {
            cursor: pointer;
        }
    }

    @mixin modal-button {
        color: white;
        height: 9rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    &__previous {
        &__container {
            @include modal-container;
            left: 0;
            float: left;

            &:hover {
                background: linear-gradient(270deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(30, 30, 30, 0.8) 100%);

                .gallery-image-modal__previous__button {
                    opacity: 0.8;
                }
            }
        }

        &__button {
            @include modal-button;
        }
    }

    &__next {
        &__container {
            @include modal-container;
            right: 0;
            float: right;

            &:hover {
                background: linear-gradient(90deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(30, 30, 30, 0.8) 100%);

                .gallery-image-modal__next__button {
                    opacity: 0.8;
                }
            }
        }

        &__button {
            @include modal-button;
        }
    }
}

.gallery-image {
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
    .video-container>iframe {
        width: 100%
    }
}
</style>

<style>
.modal .modal-content {
    width: fit-content !important;
    max-width: unset !important;
    overflow: hidden !important;
}
</style>