<template>
    <o-loading v-model:active="loading" :full-page="true"></o-loading>
    <div class="container" v-if="!loading && galleries" style="padding-top: 45px">
        <section class="hero is-small">
            <div class="hero-body has-text-centered">
                <GallerySearch v-model:search-values="searchValues" v-model:galley-helper="galleryHelper" />
                <hr>
                <o-pagination v-model:current="currentPage" :total="totalItems" :perPage="15" />
            </div>
        </section>
        <section class="hero is-small">
            <div class="hero-body has-text-centered">
                <div class="columns is-multiline">
                    <nuxt-link class="column is-4 is-4-widescreen is-4-fullscreen is-6-tablet"
                        v-for="gallery in galleries" v-bind:key="gallery.id" :to="`/galleries/${gallery.id}`">
                        <GalleryCard :gallery="gallery" />
                    </nuxt-link>
                </div>
            </div>
        </section>
        <section class="hero is-small">
            <div class="hero-body has-text-centered">
                <o-pagination v-model:current="currentPage" :total="totalItems" :perPage="15" />
            </div>
        </section>
    </div>
</template>

<script setup lang="ts">
import qs from 'qs';
import { type Gallery, type GalleryHelper, type GallerySearchValues } from '~/ts/interfaces/Gallery';
import type { StrapiDataCollection } from '~/ts/interfaces/strapi/StrapiData';

const route = useRoute();
const router = useRouter();
const config = useRuntimeConfig();

useSeoMeta({
    title: `Pfadi Gallerie - ${config.public.meta.title}`,
    ogTitle: `Pfadi Gallerie - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});

const galleries = ref<Gallery[]>([]);
const galleryHelper = ref<GalleryHelper>({
    isExpanded: true
});

const searchValues = ref<GallerySearchValues>({
    category: route.query.category && typeof route.query.category === 'string' ? route.query.category.split(',') : [],
    agegroups: route.query.agegroups && typeof route.query.agegroups === 'string' ? route.query.agegroups.split(',').map(Number) : [],
    dateAfter: '',
    dateBefore: ''
})
const loading = ref(true);
const currentPage = ref<number>(parseInt(route.query.page as string) || 1);

const totalItems = ref<number>(1);
const totalPages = ref<number>(1);

const changeTimout = ref<NodeJS.Timeout>();

async function getGalleriesPage() {
    const apiQueryString: any = {
        populate: {
            images: {
                populate: "*",
            },
            activity: {
                populate: [
                    'agegroups'
                ]
            }
        },
        pagination: {
            pageSize: 15
        },
        sort: 'activity.start_date:DESC',
        filters: {
            $and: []
        }
    }
    loading.value = true;

    apiQueryString.pagination.page = currentPage.value;

    apiQueryString.filters.$and[0] = {
        $or: []
    }
    // Add category filters
    for (const [index, category] of searchValues.value.category?.entries() ?? []) {
        apiQueryString.filters.$and[0].$or.push({
            category: {
                $eq: category
            }
        })
    }

    // Add agegroup filters
    apiQueryString.filters.$and[1] = {
        $or: []
    }
    for (const [index, agegroup] of searchValues.value.agegroups?.entries() ?? []) {
        apiQueryString.filters.$and[1].$or.push({
            activity: {
                agegroups: {
                    id: {
                        $in: agegroup
                    }
                }
            }
        })
    }

    const galleriesResponse = await fetch(`${config.public.apiUrl}/api/galleries?${qs.stringify(apiQueryString, {
        encode: false
    })}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        }
    });
    const paginatedGalleries = await galleriesResponse.json() as StrapiDataCollection<Gallery>;

    totalItems.value = paginatedGalleries.meta.pagination.total;
    totalPages.value = paginatedGalleries.meta.pagination.pageCount;
    galleries.value = paginatedGalleries.data ?? [];
    router.push({
        path: '', query: {
            page: currentPage.value.toString(),
            category: searchValues?.value.category?.length ? searchValues?.value.category?.join(',') : undefined,
            agegroups: searchValues?.value.agegroups?.length ? searchValues?.value.agegroups?.join(',') : undefined
        }
    });

    loading.value = false;
}

onMounted(async () => {
    await getGalleriesPage();
});

watch(currentPage, async () => {
    await getGalleriesPage()
});

watch(searchValues.value, async () => {
    clearTimeout(changeTimout.value);
    changeTimout.value = setTimeout(async () => {
        if (currentPage.value === 1) {
            await getGalleriesPage()
        } else {
            currentPage.value = 1;
        }
    }, 2 * 1000);
});
</script>