<script lang="ts" setup>
import { type Department } from '~/ts/interfaces/Department';
defineProps<{
    department: Department
}>()
</script>

<template>
    <div class="department-item">
        <div class="department-item__content">
            <div class="department-item__text">
                <h3 class="title is-size-3">{{ department.Title }}</h3>
                <UtilRichTextBlock :source="department.Description" />
            </div>

            <div class="department-item__contact" v-if="department.Contact">
                <h4 class="department-item__contact__title">Kontakt</h4>
                <a :href="`mailto:${department.Contact.Email}`">
                    <span class="department-item__contact__mail-text">{{ department.Contact.Email }}</span>
                    <font-awesome-icon :icon="['fas', 'envelope']" class="icon department-item__contact__mail-icon" />
                    <!-- <o-button variant="primary" outlined :label="department.Contact.Email" icon-left="envelope"></o-button> -->
                </a>
            </div>
        </div>
        <div v-if="department.leaders" class="department-item__leaders">
            <h4 class="section-title">Leitung</h4>
            <div class="department-item__leaders__list">
                <Leader v-for="leader in department.leaders" :leader="leader" :key="leader.id" />
            </div>
        </div>
        <hr>
    </div>
</template>

<style lang="scss" scoped>
.department-item {
    margin: 1rem 0;

    &__content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    &__text {
        width: 100%;
    }

    &__contact {
        background-color: rgb(248, 247, 247);
        border-radius: 0.5rem;
        padding: 1rem;
        min-width: 290px;
        width: 25%;
        height: max-content;

        &__title {
            font-weight: bold;
            font-size: 1.25rem;
            font-family: 'OpenSansExtrabold', sans-serif;
            margin-bottom: 0.5rem;
        }

        &__mail {

            &-icon {
                display: none;
            }
        }
    }

    &__leaders {
        margin-top: 1rem;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    hr {
        margin: 0.3rem 0 0.5rem;
    }

    @media (max-width: 768px) {
        &__content {
            flex-direction: column;
            gap: 1rem;
        }

        &__contact {
            width: 100%;
        }
    }
}

.icon {
    margin: 0 !important;
}
</style>
