<script lang="ts" setup>
import { type FAQuestion } from '~/ts/interfaces/FAQuestion';
import type { FaqQuestion } from '~/ts/interfaces/strapi/components/Faq';

const props = defineProps<{
    questions?: FaqQuestion[];
}>();

const faqData = ref<FAQuestion[]>([])
const currentlyOpen = ref<number | null>(null)
const loading = ref(true)
onMounted(async () => {
    loading.value = true
    // If questions are passed as props, use them instead of fetching them
    if (props.questions) {
        faqData.value = props.questions.map((question, index) => ({
            id: index,
            Question: question.Question,
            Answer: question.Answer,
            position: null
        }))
        loading.value = false
        return
    }
    const { ApiUtil } = await import('~/util/ApiUtil')
    const faqResponse = await ApiUtil.getFaq();
    faqData.value = faqResponse.data?.sort((a, b) => {
        // Sort by lowest position first, position can be null and should just be added at the end
        if (a.position === null) return 1;
        if (b.position === null) return -1;
        return a.position - b.position;
    }) ?? [];
    loading.value = false
})
</script>

<template>
    <o-loading v-model:active="loading" :full-page="true"></o-loading>
    <div v-if="!loading" class="faq-questions content">
        <div v-for="(question, index) in faqData" :key="index" class="faq-question">
            <div class="faq-question__header" @click="currentlyOpen = currentlyOpen === index ? null : index">
                <div class="faq-question__title">
                    {{ question.Question }}
                </div>
                <div class="faq-question__icon">
                    <font-awesome-icon class="icon"
                        :icon="currentlyOpen == index ? 'chevron-down' : 'chevron-left'"></font-awesome-icon>
                </div>
            </div>
            <div v-if="currentlyOpen === index" class="faq-question__answer">
                <UtilRichTextBlock :source="question.Answer" />
            </div>
            <hr>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.faq-questions {
    margin-top: 20px;

    hr {
        margin: 10px 0;
    }

    .faq-question {
        margin-top: 20px;

        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
            justify-content: space-between;

            &:hover {
                background-color: #e5e5e5;
            }
        }

        &__answer {
            margin-top: 10px;
            margin-bottom: 25px;
            cursor: auto;
        }

        &__title {
            font-size: 1.35rem;
            font-weight: bold;
        }

        &__icon {

            .icon {
                font-size: 1.5rem;
                color: $primary;
            }
        }
    }
}
</style>
