<script lang="ts" setup>
import { type GalleryHelper as GalleryHelperType, type GallerySearchValues } from '@/ts/interfaces/Gallery';
import { GalleryHelper } from '@/util/GalleryHelper';
const searchValues = defineModel<GallerySearchValues>('searchValues', { required: true })
const galleryHelper = defineModel<GalleryHelperType>('galleyHelper', { required: true })
const categories = ref([
    {
        name: 'Aktivität',
        value: 'activity'
    },
    {
        name: 'Lager',
        value: 'camp'
    },
    {
        name: 'Event',
        value: 'event'
    },
    {
        name: 'Kurs',
        value: 'course'
    }
])

const agegroups = ref([
    {
        name: 'Biber',
        value: 2
    },
    {
        name: 'Wölfe',
        value: 3
    },
    {
        name: 'Pfadis',
        value: 4
    },
    {
        name: 'Pios',
        value: 5
    },
    {
        name: 'Rover',
        value: 6
    }
])
</script>

<template>
    <div class="gallery-search">
        <div class="gallery-search__header" @click="galleryHelper.isExpanded = !galleryHelper.isExpanded">
            <h3 class="gallery-search__title title is-4">Galerie Filter</h3>
            <button class="gallery-search__expand-button" >
                <font-awesome-icon class="icon" :icon="galleryHelper.isExpanded ? 'chevron-down' : 'chevron-left'"></font-awesome-icon>
            </button>
        </div>
        <div class="gallery-search__filters" v-if="galleryHelper.isExpanded" :aria-expanded="galleryHelper.isExpanded">
            <div class="gallery-search__section">
                <h4>Kategorien</h4>
                <div class="gallery-search__labels gallery-search__categories">
                    <div class="gallery-search__category" v-for="category in categories" :key="category.value">
                        <input type="checkbox" :id="category.value" :value="category.value" v-model="searchValues.category">
                        <label :for="category.value">
                            <o-icon pack="fas" icon="xmark" size="small"
                                v-if="searchValues.category?.includes(GalleryHelper.parseCategoryType(category.value))" />
                            <span>{{ category.name }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="gallery-search__section">
                <h4>Stufen</h4>
                <div class="gallery-search__labels gallery-search__agegroups">
                    <div class="gallery-search__category" v-for="agegroup in agegroups" :key="agegroup.value">
                        <input type="checkbox" :id="agegroup.value.toString()" :value="agegroup.value"
                            v-model="searchValues.agegroups">
                        <label :for="agegroup.value.toString()">
                            <o-icon pack="fas" icon="xmark" size="small"
                                v-if="searchValues.agegroups?.includes(agegroup.value)" />
                            <span>{{ agegroup.name }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- <div class="gallery-search__after-date">
                <label for="after-date">Nach Datum</label>
                <o-datepicker v-model="new Date(searchValues.dateAfter)" locale="de-DE"
                    placeholder="Click to select..." icon="calendar" trap-focus />
            </div>
            <div class="gallery-search__before-date">
                <label for="before-date">Vor Datum</label>
                <input type="date" id="before-date" v-model="searchValues.dateBefore">
            </div> -->
        </div>
    </div>
</template>

<style lang="scss" scoped>
.gallery-search {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0.5rem;
        padding: 0.75rem 0.5rem;

        &:hover {
            cursor: pointer;
            background-color: #e5e5e5;
        }
    }

    &__filters {
        padding: 1rem;
    }

    &__title {
        text-align: start;
        margin: 0 !important;
    }

    &__expand-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $primary;
    }

    h4 {
        text-align: start;
        margin-bottom: 0.5rem;
    }

    &__section {
        margin-bottom: 1rem;
    }

    &__labels {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;

        input[type="checkbox"] {
            display: none;
        }

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.3rem;
            padding: 0.25rem 1rem;
            border: 2px solid $primary;
            // make left and right border round
            border-radius: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        input[type="checkbox"]:checked+label {
            color: white;
            background-color: $primary;
        }
    }
}
</style>