<script lang="ts" setup>
import type { Leader } from '~/ts/interfaces/Leader';
import { ImageUtil } from '~/util/ImageUtil';

defineProps<{
    leader: Leader
}>()
const config = useRuntimeConfig()
</script>

<template>
    <div class="leader-component">
        <div class="leader-component__image">
            <figure class="image is-3by2">
                <img v-if="leader.image"
                    :src="(config.public.apiUrl + ImageUtil.getImageFormatURL(leader.image, 'medium'))"
                    :alt="`${leader.pfadiname}s Profilbild`">
            </figure>
        </div>
        <span class="leader-component__name">{{ leader.firstname }} v/o {{ leader.pfadiname }}</span>
        <span class="leader-component__role">{{ leader.role }}</span>
        <div class="leader-component__contact">
            <a v-if="leader.Email" :href="`mailto:${leader.Email}`">
                <font-awesome-icon icon="envelope" class="icon" />
            </a>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.leader-component {
    // max-width: 300px;
    width: 16.666666666666666666666666666667%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;

    &__image {
        width: 100%;
        border-radius: 7px;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    &__name {
        font-family: 'PTSansRegular', sans-serif;
        font-size: 1rem;
    }

    &__role {
        font-size: 1rem;
        color: #5e5e5e;
    }

    &__contact {

        .icon {
            font-size: 1.5em;
            margin-top: 10px;
            color: #3d3d3d;
        }
    }

    @media screen and (max-width: $tablet) {
        width: 100% !important;
        margin: 0 0 1.5rem 0;

        &__image {
            width: 100%;
            margin-bottom: .4rem;
        }
    }

    @media screen and (max-width: 1024px) {
        .icon {
            font-size: 1em;
        }
    }
}
</style>
