<script lang="ts" setup>
import type { CodeBlock } from '~/ts/interfaces/strapi/RichTextBlock';

defineProps<{
    source: CodeBlock
}>()
</script>

<template>
    <pre>
        <code>
            {{ source.children[0].text }}
        </code>
    </pre>
</template>
