<script lang="ts" setup>
import { type ImageBlock } from '~/ts/interfaces/strapi/RichTextBlock'

defineProps<{
    source: ImageBlock
}>()
</script>

<template>
    <img :src="source.image.url" :alt="source.image.alternativeText">
</template>