<script lang="ts" setup>
import type { LinkNode, ListBlock, TextNode } from '~/ts/interfaces/strapi/RichTextBlock';

defineProps<{
    source: ListBlock
}>()
</script>

<template>
    <ul v-if="source.format == 'unordered'">
        <UtilNodeList v-for="child in source.children" :source="child" />
    </ul>
    <ol v-else>
        <UtilNodeList v-for="child in source.children" :source="child" />
    </ol>
</template>
