<template>
  <div class="container">
    <section class="hero is-small" style="margin-top: 20px">
      <div class="hero-body has-text-centered">
        <div class="title-wrapper">
          <h2 class="title is-size-1">Über uns</h2>
          <div class="subtitle">
            Die Pfadi Hochwacht Baden: eine Abteilung, eine Geschichte und eine
            Mission
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-small">
      <div class="hero-body">
        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <div class="column is-offset-1 is-4 no-margin">
              <h1 class="section-title">Unsere Abteilung</h1>
              <div class="title-divider"></div>
              <p>
                Die Pfadi Hochwacht Baden ist eine der ältesten Pfadfinder
                Gründungen in der Schweiz und hat in Baden lange Tradition (seit
                1927). Normalerweise treffen sich die Pfadfinder am
                Samstagnachmittag für spannende Aktivitäten, meist in der Natur.
                Die Pfadi ist nach dem Motto "Junge leiten Junge" organisiert
                und erlaubt damit die volle Entfaltung als Biber, Wölfli, Pfadi,
                Pio, Leiter und Rover. Die Pfadi bietet einmalige Erlebnisse und
                Erfahrungen - für viele eine der wichtigsten und positivsten
                Lebenserfahrungen
              </p>
              <br />
              <nuxt-link to="/galleries">
                <o-button
                  icon-pack="fas"
                  icon-right="up-right-from-square"
                  variant="primary"
                  outlined
                >
                  Besuche unsere Galerie
                </o-button></nuxt-link
              >
            </div>
            <div class="column is-offset-2 is-4">
              <img
                src="/img/nature.svg"
                class="image"
                aria-hidden="true"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-medium">
      <div class="hero-body">
        <div class="columns is-vcentered">
          <div class="column is-offset-1 is-4 no-margin">
            <img
              src="/img/moonlight.svg"
              class="image"
              aria-hidden="true"
            />
          </div>
          <div class="column is-offset-2 is-4">
            <h1 class="section-title">Pfadfinderei</h1>
            <div class="title-divider"></div>
            <p>
              Leiter und Eltern der Hochwacht Baden haben gemeinsam definiert,
              was wir in der Pfadi erreichen wollen und wie sich Pfadi abgrenzt
              von anderen Aktivitäten:
            </p>
            <br />
            <p>
              "​Pfadi grenzt sich explizit von konkurrierender digitaler
              Freizeit und Einzelaktivitäten durch Natur- und
              Gemeinschafts-Orientierung, sowie durch Selbstorganisation und
              -verantwortung ab"
            </p>
            <br />
            <a target="blank" href="flyer.pdf">
              <o-button
                icon-pack="fas"
                icon-right="file-pdf"
                variant="primary"
                outlined
              >
                Unser Flyer
              </o-button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-small">
      <div class="hero-body">
        <div class="columns is-vcentered">
          <div class="column is-offset-1 is-4 no-margin">
            <h1 class="section-title">Aktivitäten</h1>
            <div class="title-divider"></div>
            <p>
              Die Pfadifinder treffen sich normalerweise jeden Samstagnachmittag
              und verbringen diesen draussen in der Natur. Wir spielen
              verschiedene Spiele, lachen miteinander, lernen neue Techniken,
              machen Feuer und vieles mehr. Im Sommer und an Pfingsten fahren
              wir ins Lager und übernachten in Zelten oder einem Lagerhaus, weg
              von zu Hause, dafür mit danz vielen Freunden aus der Pfadi.
            </p>
          </div>
          <div class="column is-offset-2 is-4">
            <img
              src="/img/superhero.svg"
              class="image"
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script setup lang="ts">
const config = useRuntimeConfig();
useSeoMeta({
    title: `Über uns - ${config.public.meta.title}`,
    ogTitle: `Über uns - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
</script>
