<script setup lang="ts">
import { type Department } from '~/ts/interfaces/Department';

const departments = ref<Department[]>([]);

onMounted(async () => {
  const { ApiUtil } = await import('~/util/ApiUtil');
  departments.value = (await ApiUtil.getDepartments(true)).data ?? [];
  // Scroll to the department if the hash is set
  if (window.location.hash) {
    const element = document.getElementById(window.location.hash.slice(1));
    if (element) {
      element.scrollIntoView({ behavior: 'smooth' });
    }
  }
});
const config = useRuntimeConfig();
useSeoMeta({
  title: `Kontakt - ${config.public.meta.title}`,
  ogTitle: `Kontakt - ${config.public.meta.title}`,
  description: config.public.meta.description,
  ogDescription: config.public.meta.description,
  ogImage: config.public.meta.image
});
</script>

<template>
  <div class="conatiner">
    <section class="hero is-small" style="margin-top: 20px">
      <div class="hero-body has-text-centered">
        <div class="title-wrapper">
          <h2 class="title is-size-1">Kontakt</h2>
          <div class="subtitle">
            Alle wichtigen Ämter und Kontakte auf einen Blick
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-small">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-12 map-container">
              <h2 class="title is-size-3">Heimadresse</h2>
              <div class="column is-6 map-container-map">
                <div class="iframe-container">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d636.3865322651869!2d8.299264492860805!3d47.47214151268289!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x90edbc2534297664!2sPfadi%20Hochwacht%20Baden!5e0!3m2!1sen!2sch!4v1569831038504!5m2!1sen!2sch"
                    frameborder="0" style="border: 0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-small">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-12">
              <!-- List of departments to jump to the section -->
              <div class="department-anchors">
                <ul>
                  <li v-for="department in departments" :key="department.id">
                    <a :href="'#' + department.Title.toLocaleLowerCase()">{{ department.Title
                      }}</a>
                  </li>
                </ul>
              </div>
              <div class="departments">
                <Department v-for="department in departments" :key="department.id" :department="department"
                  :id="department.Title.toLocaleLowerCase()" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.department-anchors {
  margin-top: 1rem;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    list-style: none;
    padding: 0;

    li {
      width: max-content;

      &:not(:last-child) {
        margin-right: 0.25rem;
      }

      &:not(:last-child)::after {
        content: " | ";
        color: black;
      }

      a {
        text-decoration: none;
        color: $primary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


span {
  padding-top: 20px;
}

.map-container {
  display: flex;
  flex-direction: column;
}

.map-container-map {
  align-self: center;

  @media screen and (max-width: 768px) {
    width: 100%;

  }
}

.iframe-container {
  // align-self: center;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 aspect ratio (change this value to adjust the height) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>