<template>
    <div>
        <section class="hero is-small" style="margin-top: 35px">
            <div class="hero-body">
                <div class="container">
                    <div class="title-wrapper">
                        <h2 class="title is-size-2">Unterlagen</h2>
                        <div class="subtitle">
                            Wichtige Unterlagen und Dokumente der Pfadi Hochwacht Baden
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                    <o-table v-if="documents.length" :data="documents">
                        <o-table-column field="description" label="Dokument" v-slot="props">
                            {{ props.row.description }}
                        </o-table-column>

                        <o-table-column field="file" label="Datei" v-slot="props">
                            {{ props.row.file.name }}
                        </o-table-column>

                        <o-table-column field="download" label="Datei öffnen" numeric v-slot="props">
                            <o-button icon-right="up-right-from-square" variant="primary" outlined tag="a"
                                target="blank" :href="config.public.apiUrl + props.row.file.url" />
                        </o-table-column>
                    </o-table>
                </div>
            </div>
        </section>
    </div>
</template>
  
<script setup lang="ts">
import type { Document } from '~/ts/interfaces/Document';
import { ApiUtil } from '~/util/ApiUtil';

const documents = ref<Document[]>([]);
const config = useRuntimeConfig();

const data: Document[] = await ApiUtil.getDocuments();
documents.value = data;

useSeoMeta({
    title: `Dokumente - ${config.public.meta.title}`,
    ogTitle: `Dokumente - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
</script>