<template>
    <div class="container">
        <section class="hero is-small" style="margin-top: 20px">
            <div class="hero-body has-text-centered">
                <div class="title-wrapper">
                    <h2 class="title is-size-1">Spenden</h2>
                </div>
            </div>
        </section>
        <section class="hero is-small">
            <div class="hero-body">
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <div class="column is-offset-1 is-4 no-margin">
                            <h1 class="section-title">Spenden</h1>
                            <div class="title-divider"></div>
                            <p>
                                Die Pfadi Hochwacht Baden ist ein gemeinnütziger Verein und
                                finanziert sich hauptsächlich durch Mitgliederbeiträge.
                                Trotzdem sind wir auf Spenden angewiesen, um unsere
                                Infrastruktur zu erhalten. 
                            </p>
                            <p>
                                Die Pfadi ist als gemeinnützig anerkannt und steuerbefreit. Ihre Spende kann gemäss kantonaler Gesetzgebung steuerlich in Abzug gebracht werden.
                            </p>
                            <h2>Kontoangaben</h2>
                            <span>Pfadfinderabteilung Hochwacht</span><br>
                            <span>Rütistrasse 3a</span><br>
                            <span>5400 Baden</span><br>
                            <span>CH98 0076 1042 0013 4165 6</span> <br>
                            <br>
                            <b>Vielen Dank für die Unterstützung</b>
                            <br />
                        </div>
                        <div class="column is-offset-2 is-4">
                            <img src="/img/nature.svg" class="image" aria-hidden="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script setup lang="ts">
const config = useRuntimeConfig();
useSeoMeta({
    title: `Spenden - ${config.public.meta.title}`,
    ogTitle: `Spenden - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
</script>
