<script setup lang="ts">
const config = useRuntimeConfig();
useSeoMeta({
    title: `Ausrüstung - ${config.public.meta.title}`,
    ogTitle: `Ausrüstung - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
</script>

<template>
  <div class="container">
    <section class="hero is-small" style="margin-top: 20px">
      <div class="hero-body has-text-centered">
        <div class="title-wrapper">
          <h2 class="title is-size-1">Ausrüstung</h2>
        </div>
      </div>
    </section>
    <section class="hero is-small">
      <div class="hero-body">
        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <div class="column is-offset-1 is-4 no-margin">
              <h1 class="section-title">Pfadihemd und Krawatte</h1>
              <div class="title-divider"></div>
              <p>
                Du kannst die wichtigsten Teile der Ausrüstung im Outdoor-Shop
                Yanacocha in Baden oder direkt bei uns nach einer Aktivität
                kaufen. Die Uniform besteht aus einer rot-schwarzen Krawatte und
                einem Hemd. Nur Wölfli tragen ein blaues Hemd, alle anderen
                Stufen haben ein braunes.
              </p>
              <p>
                Ausserdem kannst du Accessoires wie Pfaditäschli oder
                Krawattenringe im Yanacocha kaufen.
              </p>
              <br />
              <a href="https://www.yanacocha.ch" target="blank">
                <o-button icon-pack="fas" icon-right="up-right-from-square" variant="primary" outlined>
                  yanacocha.ch
                </o-button></a>
            </div>
            <div class="column is-offset-2 is-4">
              <img src="/img/nature.svg" class="image" aria-hidden="true" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-small">
      <div class="hero-body">
        <div class="columns is-vcentered">
          <div class="column is-offset-1 is-4 no-margin hajk-logo">
            <img src="/img/hajk.svg" class="image" aria-hidden="true" />
          </div>
          <div class="column is-offset-2 is-4">
            <h1 class="section-title">Weitere Ausrüstung</h1>
            <div class="title-divider"></div>
            <p>
              Die Artikel des Yanacochas decken problemlos den Ausrüstungsbedarf
              für Samstagnachmittage. Für besondere Wünsche gibt es den Hajk,
              welcher als offizieller Pfadi-Shop fungiert.
            </p>
            <p>
              Sie haben ein riesiges Sortiment, mit dem man sich etwa für
              besondere Anlässe wie Lager (Regenbekleidung, Schlafsack,
              Essgeschirrr) ausrüsten kann.
            </p>
            <br />
            <a target="blank" href="https://www.hajk.ch/">
              <o-button icon-pack="fas" icon-right="up-right-from-square" variant="primary" outlined>
                hajk.ch
              </o-button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
.hajk-logo {
  display: flex;
  justify-content: center;
}
</style>
