<script lang="ts" setup>
const config = useRuntimeConfig();
useSeoMeta({
    title: `FAQ - ${config.public.meta.title}`,
    ogTitle: `FAQ - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});

</script>

<template>
    <div class="container">
        <section class="hero is-small" style="margin-top: 20px">
            <div class="hero-body has-text-centered">
                <div class="title-wrapper">
                    <h1 class="title is-size-1"> Häufig gestellte Fragen</h1>
                    <div class="subtitle">
                        Hier findest du Antworten auf die am häufigsten gestellten Fragen
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-small">
            <div class="hero-body">
                <div class="content-wrapper">
                    <div class="columns is-vcentered">
                        <div class="column is-offset-1 is-10 no-margin">
                            <FaqComponent />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
