<script lang="ts" setup>
const config = useRuntimeConfig();
useSeoMeta({
    title: `Impressum - ${config.public.meta.title}`,
    ogTitle: `Impressm - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
</script>

<template>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-6">
                        <h1 class="title">Impressum</h1>
                        <p>
                            Verein Pfadi Hochwacht Baden<br>
                            Belvedere 14, <br>
                            5400 Baden <br>
                            <br>
                            <b>Präsidium</b> <a href="mailto:info@hochwacht.ch">info@hochwacht.ch</a><br>
                            <ul>
                                <li>Tim Foster (<a href="mailto:fiskar@hochwacht.ch">fiskar@hochwacht.ch</a>)</li>
                                <li>Flurin Broger (<a href="mailto:swatch@hochwacht.ch">swatch@hochwacht.ch</a>)</li>
                            </ul>
                            <br>
                            <br>
                            <i>Weitere Kontakte finden Sie <nuxt-link to="/contact">hier</nuxt-link></i>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style lang="scss" scoped>
ul {
    // List style minus sign
    list-style-type: none;
    list-style: "- ";
    padding: 0;
    padding-left: 12px;
}
</style>
