<script setup lang="ts">
const config = useRuntimeConfig();
useSeoMeta({
    title: `Datenschutz - ${config.public.meta.title}`,
    ogTitle: `Datenschutz - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
</script>
<template>
  <div class="container">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Datenschutzbestimmungen der Pfadi Hochwacht Baden</h1>
        <hr />
        <p class="subtitle">Präambel</p>
        <p>
          Die Wahrung deiner Privatsphäre hat für uns höchste Priorität. Wir
          erheben, verarbeiten und nutzen deine personenbezogenen Daten
          vertraulich und unter Anwendung der untenstehenden Richtlinien und der
          schweizerischen Datenschutzgesetzgebung. Wir sind bestrebt, dir
          jederzeit ein hohes Mass an Vertraulichkeit und Sicherheit bieten zu
          können.
        </p>
        <br />
        <p class="subtitle">Verwendung der persönlichen Daten</p>
        <p>
          Wir verwenden deine persönlichen Informationen nur im Rahmen der
          Kundenbeziehung zwischen dir und der Pfadi Hochwacht Baden. Die Daten
          werden in unserer Kundendatenbank gespeichert, aber jederzeit
          vertraulich behandelt und nicht an Dritte weitergegeben oder verkauft.
        </p>
        <br />
        <p class="subtitle">
          Recht auf Auskunft, Berichtigung, Sperrung oder Löschung
        </p>
        <p>
          Nach dem Bundesgesetz über den Datenschutz (DSG) hast du jederzeit ein
          Recht auf unentgeltliche Auskunft über deine gespeicherten Daten sowie
          bei Bedarf ein Recht auf Berichtigung, Sperrung oder Löschung dieser
          Daten. Von dir erteilte Einwilligungen zur Datenerhebung,
          -verarbeitung und -nutzung kannst du jederzeit mit Wirkung für die
          Zukunft widerrufen. Kontaktiere bitte einen Webmaster per Email falls
          du eine Änderung ersuchst.
        </p>
        <br />
        <p class="subtitle">
          Erhebung und Verwendung nicht personenbezogener Daten
        </p>
        <p>
          Dein Internet-Browser übermittelt beim Zugriff auf unsere Webseite
          technisch bedingt automatisch Daten, wie Datum und Uhrzeit des
          Zugriffs, URL der verweisenden Webseite, abgerufene Dateien, Menge der
          gesendeten Daten, Browsertyp und -version, Betriebssystem und
          IP-Adresse an unseren Server. Sofern du bei der Nutzung unserer
          Webseite keine Daten eingibst, erfolgt der Abruf von Informationen von
          unserer Webseite für dich anonym. Die Erhebung und Verwendung erfolgt
          lediglich zu systeminternen und statistischen Zwecken. Eine
          Speicherung der IP-Adresse über das Ende des Nutzungsvorgangs hinaus
          findet zum Zwecke der Geo-Lokalisierung nicht statt.
        </p>
        <br />
        <p class="subtitle">Gewährleistungs-Ausschluss</p>
        <p>
          Die Informationen, die die Pfadi Hochwacht Baden auf ihren Websites
          zur Verfügung stellt, unterliegen einer ständigen Kontrolle und werden
          laufend aktualisiert. Jedoch ist es möglich, dass sich Daten trotz
          sorgfältigster Überprüfung inzwischen verändert haben. Aus diesem
          Grund übernimmt die Pfadi Hochwacht Baden keine Haftung oder Garantie
          hinsichtlich der Genauigkeit, Vollständigkeit und Aktualität der auf
          diesen Seiten gegebenen Informationen. Dies gilt ebenfalls für alle
          Websites, auf die in diesem Auftritt per Hyperlink verwiesen wird. Die
          Pfadi Hochwacht Baden haftet nicht für den Inhalt derartiger Seiten.
        </p>
        <br />
        <p class="subtitle">Datenschutz</p>
        <p>
          Eventuell werden Sie auf unserer Website um persönliche Daten gebeten.
          Diese werden nur gespeichert und verarbeitet, soweit dies zum Zwecke
          Ihrer individuellen Betreuung und der Zusendung der von Ihnen
          gewünschten Informationen notwendig ist. Die Pfadi Hochwacht Baden
          sichert zu, dass Ihre Angaben entsprechend den geltenden
          datenschutzrechtlichen Bestimmungen vertraulich behandelt werden.
        </p>
        <br />
        <p class="subtitle">Recht am Bild und Persönlichkeitsschutz</p>
        <p>
          Die Pfadi Hochwacht Baden veröffentlicht nur Fotos oder Videos bei
          denen respektvoll mit der Persönlichkeit der dargestellten Personen
          umgegangen wird. Fotos sollen unsere Aktivitäten und unsere Mitglieder
          in einem positiven Licht darstellen. Es sollen unsere Spiele,
          Traditionen, Rituale und Events so dargestellt werden, dass
          unbeteiligte nachvollziehen können, was auf dem Bild oder Video
          dargestellt wird. Im Zweifel sollen die Bilder mit Kurztexten
          beschrieben werden. Bilder von Einzelpersonen oder Nahaufnahmen von
          Einzelpersonen oder Gruppen dürfen nur im Einverständnis aller
          Personen gepostet werden. Auf den offiziellen Accounts der Pfadi
          Hochwacht Baden werden ausschliesslich durch ausgewählte
          Leiterpersonen oder die Social-Media Reporter platziert.
        </p>
        <br />
        <p class="subtitle">
          Fotografieren an öffentlichen Anlässen, internen Events, in Lagern und
          an Samstag-Übungen
        </p>
        <p>
          An unseren Anlässen werden Fotos und Filme von der Veranstaltung
          gemacht auf denen einzelne Personen sowie Gruppen von Personen
          abgebildet sein werden. Diese Aufnahmen werden auf unserer Website und
          anderen Sozialen Medien der Pfadi Hochwacht Baden veröffentlicht.
          Durch die Teilnahme am Anlass riskiert jeder Teilnehmer auf solchen
          Darstellungen abgebildet zu werden. Wir veröffentlichen auf unseren
          Plattformen und Sozialen Medien nur Fotos/Filme welche nach unserem
          Leitbild und Persönlichkeits-Schutzregeln entsprechen. Fotos/Filme
          welche von Mitgliedern direkt auf deren sozialen Medien hochgeladen
          werden können von uns nicht kontrolliert werden.
        </p>
        <br />
        <p class="subtitle">Social Media</p>
        <p>
          Aktuelles und Eindrücke aus den Aktivitäten der Pfadi Hochwacht Baden
          kannst du auf unserem Instagram Account finden. Die Pfadi Hochwacht
          Baden übernimmt keine Haftung für die Inhalte der Kommentare und kann
          auch nicht den Datenschutz gewährleisten. Die Datenschutzeinstellungen
          der jeweiligen Netzwerke unterliegen der Verantwortung dieser
          Netzwerke und User müssen sich direkt dort informieren. <br />
          Facebook Datenschutzrichtlinie:
          <a href="https://de-de.facebook.com/privacy/explanation"
            >https://de-de.facebook.com/privacy/explanation</a
          >
          <br />
          Datenschutzrichtlinie:<a
            href="https://help.instagram.com/519522125107875"
          >
            https://help.instagram.com/519522125107875</a
          >
        </p>
      </div>
    </div>
  </div>
</template>