<template>
  <div>
    <section class="hero is-medium container">
      <div class="hero-body">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title is-size-2">Heimvermietung</h1>
            <h2 class="subtitle">Miete unser Pfadiheim für deinen Anlass.</h2>
            <a href="#contact">
              <o-button variant="primary">Kontaktiere uns!</o-button>
            </a>
          </div>
          <div class="column is-6 is-offset-1 is-hidden-mobile">
            <img src="/img/rental/home_rental.svg" aria-hidden="true" />
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-small">
      <div class="container">
        <div class="hero-body">
          <div class="container">
            <div class="section-title-wrapper has-text-centered">
              <h2 class="title">Unser Pfadiheim</h2>
              <h3 class="subtitle">
                Ein moderner und gut zugänglicher Austragungsort für Anlässe
              </h3>
            </div>
          </div>

          <div class="content-wrapper">
            <div class="columns is-vcentered">
              <div class="column is-6 has-text-centered">
                <div class="columns is-vcentered has-text-centered is-multiline">
                  <div class="column is-6" v-for="(image, index) in images" v-bind:key="index">
                    <div class="
                        flex-card
                        icon-card
                        light-bordered
                        hover-inset
                        padding-20
                      ">
                      <img :src="`/img/rental/${image.url}`" :alt="image.caption" style="
                          height: 250px;
                          width: 300px;
                          object-fit: cover;
                          border-radius: 10px;
                        " @click="openModal(image.url)" />
                      <div class="icon-card-text is-clean mt-10">
                        {{ image.caption }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column is-5 is-offset-1">
                <div class="content padding-20">
                  <h2 class="section-title">Das Pfadiheim Hochwacht</h2>
                  <p class="no-margin-bottom">
                    Das Pfadiheim Hochwacht wurde im Frühling 2018 renoviert und
                    ist somit modern ausgerüstet. Die
                    <a href="https://g.page/pfadi-hochwacht-baden?share" target="blank" style="color: #ec7e1e">zentrale
                      Lage</a>
                    und Erreichbarkeit mit ÖV und Autos macht unser Pfadiheim
                    perfekt für Anlässe in Baden. Das Heim ist vom Wald umgeben
                    und in unmittelbarer Nähe einer grossen Fussballwiese.
                  </p>
                  <p class="no-margin-bottom">
                    Unser Pfadiheim ist ein zweistöckiges Gebäude, umschlossen
                    von zwei grossen Kiesplätzen. Das Heim ist mit einer
                    Toilette und voll ausgestatteten Küche bestens ausgerüstet.
                    Hinter dem Heim steht den Gästen eine Feuerschale mit
                    Grill-Rost zur Verfügung. Der Aufenthaltsraum und Thing-Raum
                    sind ideale Sitzungszimmer.
                  </p>
                  <div class="pt-10 po-10">
                    <nuxt-link to="/rentalimages">
                      <o-button outlined variant="primary">Mehr Fotos</o-button></nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-medium" id="contact">
      <div class="container">
        <div class="hero-body">
          <div class="container">
            <div class="section-title-wrapper has-text-centered">
              <div>
                <h2 class="title">Kontaktiere uns</h2>
                <h3 class="subtitle">Schreibe uns eine Email.</h3>
              </div>
            </div>
          </div>

          <div class="content-wrapper">
            <o-button expanded icon-left="envelope" icon-pack="fas" variant="primary" tag="a"
              href="mailto:heim@hochwacht.ch?subject=Anfrage%20Heimvermietung&body=Vorname%3A%0ANachname%3A%0A%0ATelefon%3A%0AEmail%3A%0A%0AStrasse%3A%0APLZ%20%2F%20Ort%3A%0A%0AOrganisation%20%2F%20Verein%3A%0AAnlass%3A%0A%0ATeilnehmerzahl%3A%0AAnreisedatum%3A%0AAbreisedatum%3A%0ABemerkungen%3A%0A">
              heim@hochwacht.ch</o-button>
          </div>
        </div>
      </div>
    </section>

    <o-modal v-model:active="isImageModalActive">
      <div class="wrapper">
        <div class="modal-card" style="width: auto">
          <section class="modal-card-body">
            <img :src="`/img/rental/ ${selectedImageUrl}`" aria-hidden="true" />
          </section>
        </div>
      </div>
    </o-modal>
  </div>
</template>

<script setup lang="ts">
const config = useRuntimeConfig();
useSeoMeta({
    title: `Pfadiheim - ${config.public.meta.title}`,
    ogTitle: `Pfadiheim - ${config.public.meta.title}`,
    description: config.public.meta.description,
    ogDescription: config.public.meta.description,
    ogImage: config.public.meta.image
});
interface Pic {
  url: string;
  caption: string;
}
const isImageModalActive = ref(false);
const selectedImageUrl = ref<string>("big_room.jpeg");

const images: Pic[] = [
  {
    url: "night.jpeg",
    caption: "Eingangsbereich",
  },
  {
    url: "above.jpeg",
    caption: "Luftansicht",
  },
  {
    url: "kitchen.jpeg",
    caption: "Voll ausgestattete Küche",
  },
  {
    url: "big_room.jpeg",
    caption: "Aufenthaltsraum",
  },
];

function openModal(imageUrl: string) {
  isImageModalActive.value = !isImageModalActive;
  selectedImageUrl.value = imageUrl;
}
</script>