<script setup lang="ts">
import { ref } from 'vue';
import type { Agegroup } from '~/ts/interfaces/Agegroup';
import { DateUtil } from '~/util/DateUtil';

const config = useRuntimeConfig()
const route = useRoute()
const id = parseInt(route.params.id as string);

if (isNaN(id)) {
    throw new Error('Invalid ID');
}
const agegroup = ref<Agegroup>({} as Agegroup);
const loading = ref(true);

// const seoAgeGroup = await ApiUtil.getAgeGroup(id.toString(), false);

// useServerSeoMeta({
//     title: `${seoAgeGroup.name} - ${config.public.meta.title}`,
//     ogTitle: `${seoAgeGroup.name} - ${config.public.meta.title}`,
//     description: seoAgeGroup.description?.replace(/[#*`]/g, '').replace(/\n\n/g, '\n'),
//     ogDescription: seoAgeGroup.description.replace(/[#*`]/g, '').replace(/\n\n/g, '\n'),
//     // Use the root URL and add /img/logo-lilie.png
//     ogImage: `/img/logo-lilie.png`
// });

onMounted(async () => {
    const { ApiUtil } = await import('~/util/ApiUtil');
    loading.value = true;
    agegroup.value = await ApiUtil.getAgeGroup(id.toString(), true);

    // Set Leader containing "Stufenleiter" as first element in array
    agegroup.value.leaders.sort((a, b) => {
        if (a.role?.includes("Stufenleiter")) return -1;
        if (b.role?.includes("Stufenleiter")) return 1;
        // Then sort by Pfadiname
        if (a.pfadiname > b.pfadiname) return 1;
        if (a.pfadiname < b.pfadiname) return -1;
        // Then sort by firstname
        if (a.firstname > b.firstname) return 1;
        if (a.firstname < b.firstname) return -1;
        return 0;
    });

    // Set activities to only future activities
    agegroup.value.activities = agegroup.value.activities.filter(activity => new Date(activity.end_date) > new Date());
    agegroup.value.activities.sort((a, b) => {
        if (a.start_date > b.start_date) return 1;
        if (a.start_date < b.start_date) return -1;
        return 0;
    });
    loading.value = false;

    useSeoMeta({
        title: `${agegroup.value.name} - ${config.public.meta.title}`,
        ogTitle: `${agegroup.value.name} - ${config.public.meta.title}`,
        description: agegroup.value.description.replace(/[#*`]/g, '').replace(/\n\n/g, '\n'),
        ogDescription: config.public.meta.description.replace(/[#*`]/g, '').replace(/\n\n/g, '\n'),
        ogImage: config.public.meta.image
    });
});
</script>

<template>
    <div>
        <o-loading v-model:active="loading" :full-page="true"></o-loading>
        <div class="agegroup" v-if="!loading">
            <section class="hero is-small" style="margin-top: 25px">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column">
                                <div class="title-wrapper">
                                    <h2 class="title is-size-2">{{ agegroup.name }}</h2>
                                </div>
                                <UtilMarkdown v-if="agegroup.description" :source="agegroup.description"></UtilMarkdown>
                                <div class="buttons">
                                    <o-button v-if="agegroup.quarterly_plans" icon-pack="fas" icon-right="file-pdf"
                                        variant="primary" tag="a" target="_blank"
                                        :href="config.public.apiUrl + agegroup.quarterly_plans.url">
                                        Quartalsplan</o-button>
                                    <o-button v-if="agegroup.registration_form" icon-pack="fas" icon-right="file-pdf"
                                        variant="primary" tag="a" target="_blank"
                                        :href="config.public.apiUrl + agegroup.registration_form.url">
                                        Anmeldeformular</o-button>
                                    <o-button disabled icon-pack="fas" icon-right="calendar" variant="primary" tag="a" :href="config.public.apiUrl + '/api/agegroups/' + agegroup.documentId + '/ical'">
                                        E-Kalender</o-button>
                                </div>
                                <div v-if="agegroup.Contact" class="agegroup__content__contact">
                                    <h3 class="title is-size-4">Kontakt</h3>
                                    <div class="agegroup__content__contact__content">
                                        <a v-if="agegroup.Contact.Email" :href="`mailto:${agegroup.Contact.Email}`">{{
                                            agegroup.Contact.Email }}</a>
                                        <a v-if="agegroup.Contact.PhoneNumber"
                                            :href="`tel:${agegroup.Contact.PhoneNumber}`">{{ agegroup.Contact.PhoneNumber
                                            }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column agegroup__content__right">
                                <div class="agegroup__content__group-photo">
                                    <img :src="config.public.apiUrl + agegroup.group_photo.url"
                                        :alt="agegroup.group_photo.alternativeText" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section v-if="agegroup.activities.length" class="hero is-small" style="margin-top: 50px">
                <div class="hero-body">
                    <div class="container">
                        <div class="subtitle is-size-3 has-text-weight-semibold has-text-centered">
                            Nächste Aktivitäten
                        </div>
                        <o-table :data="agegroup.activities" v-if="agegroup.activities.length">
                            <o-table-column field="name" label="Anlass" v-slot="props">
                                {{ props.row.name }}
                            </o-table-column>
                            <o-table-column field="start_date" label="Start" v-slot="props">
                                {{ DateUtil.formatDate(props.row.start_date, "dd. MMM. yyyy, HH:mm") }}
                            </o-table-column>
                            <o-table-column field="end_date" label="Ende" v-slot="props">
                                {{ DateUtil.formatDate(props.row.end_date, "dd. MMM. yyyy, HH:mm") }}
                            </o-table-column>
                            <o-table-column field="location" label="Ort" v-slot="props">
                                {{ props.row.location }}
                            </o-table-column>
                            <o-table-column field="remarks" label="Bemerkung" v-slot="props">
                                {{ props.row.remarks ? props.row.remarks : "-" }}
                            </o-table-column>
                        </o-table>
                        <div v-else class="subtitle is-size-4 has-text-weight-semibold has-text-centered">
                            Aktuell sind keine Aktivitäten geplant.
                        </div>
                    </div>
                </div>
            </section>

            <section v-if="agegroup.leaders.length" class="hero is-small" style="margin-top: 50px">
                <div class="hero-body">
                    <div class="container">
                        <div class="
                  subtitle
                  is-size-3
                  has-text-weight-semibold has-text-centered
                ">
                            Unsere Leiter
                        </div>
                        <div class="columns is-centered is-multiline">
                            <Leader v-for="leader in agegroup.leaders" :key="leader.id" :leader="leader" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
  
<style lang="scss" scoped>
h2 {
    font-weight: 600;
    margin-top: 16px;
}

p {
    margin-top: 16px;
}

img {
    object-fit: cover;
    border-radius: 5px;
}

.agegroup {
    &__content {
        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: min-content;
        }

        &__group-photo {
            display: flex;
            justify-content: center;
            margin-top: 20px;


            img {
                width: 100%;
                max-width: 100%;
                // max-height: 100%;
                border-radius: 5px;
            }
        }

        &__contact {
            display: flex;
            flex-direction: column;
            background-color: #f0f0f0;
            border-radius: 5px;
            justify-content: center;
            margin-top: 20px;
            padding: 20px;

            &__content {
                display: flex;
                flex-direction: row;
                align-items: center;

                > * {
                    flex: 1;
                    // text-align: center;
                }
            }
        }
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.role {
    color: rgb(94, 94, 94);
}

.contact {
    .icon {
        font-size: 1.5em;
        margin-top: 10px;
        color: #3d3d3d;
    }
}
</style>
  
  