<script lang="ts" setup>
import qs from 'qs';
import type { ResourceCenterPage } from '~/ts/interfaces/ResourceCenterPage';

const route = useRoute();
const config = useRuntimeConfig();

const pageUrl = '/' + (route.params.slug as string[]).join('/');
const pageData = ref<ResourceCenterPage>();
const loading = ref(true);

const apiQueryString: any = {
    populate: {
        Content: {
            populate: '*',
            on: {
                'util.static-component': {
                    populate: '*'
                },
                'layout.section': {
                    populate: '*'
                },
                'component.faq': {
                    populate: 'Questions'
                },
                'resource-center.leader-section': {
                    populate: {
                        leaders: {
                            populate: '*'
                        }
                    }
                },
                'resource-center.document-section': {
                    populate: {
                        Documents: {
                            populate: '*'
                        }
                    }
                },
                'resource-center.contact-section': {
                    populate: 'Contacts'
                }
            }
        }
    },
}

onMounted(async () => {
    loading.value = true;
    const response = await fetch(`${config.public.apiUrl}/api/resource-center-pages?filters[Url][$startsWithi]=${pageUrl}&${qs.stringify(apiQueryString)}`);
    pageData.value = (await response.json()).data[0] as ResourceCenterPage;
    loading.value = false;
});
</script>

<template>
    <OLoading v-model:active="loading" full-page />
    <div v-if="!loading && pageData" class="container">
        <section class="hero is-small" style="margin-top: 20px">
            <div class="hero-body has-text-centered">
                <div class="title-wrapper">
                    <h2 class="title is-size-1">{{ pageData.Title }}</h2>
                    <div class="subtitle">{{ pageData.Subtitle }}</div>
                </div>
            </div>
        </section>
        <section class="hero is-small">
            <div class="hero-body">
                <div class="content-wrapper">
                    <!-- Loop through the content blocks -->
                    <div v-for="contentBlock in pageData.Content" :key="contentBlock.id" class="content-block">
                        <div v-if="contentBlock.__component === 'layout.section'" class="content">
                            <UtilRichTextBlock :source="contentBlock.content" />
                        </div>
                        <div v-else-if="contentBlock.__component === 'util.static-component'" class="faq-component">
                            <FaqComponent />
                        </div>
                        <div v-else-if="contentBlock.__component === 'component.faq'" class="custom-faq-component">
                            <FaqComponent :questions="contentBlock.Questions" />
                        </div>
                        <div v-else-if="contentBlock.__component === 'resource-center.leader-section'"
                            class="leader-section" :class="contentBlock.Column ? 'column' : 'row'">
                            <Leader v-for="leader in contentBlock.leaders" :leader="leader" />
                        </div>
                        <div v-else-if="contentBlock.__component === 'resource-center.document-section'"
                            class="document-section">
                            <ResourceDocumentSection :section="contentBlock" />
                        </div>
                        <div v-else-if="contentBlock.__component === 'resource-center.contact-section'"
                            class="contact-section" :class="contentBlock.Column ? 'column' : 'row'">
                            <div v-for="contact in contentBlock.Contacts" :key="contact.id">
                                <div class="contact-section__item">
                                    <h3 class="contact-section__item__title">{{ contact.Name }}</h3>
                                    <div class="contact-section__item__contact">
                                        <a v-if="contact.Email" :href="`mailto:${contact.Email}`">
                                            <font-awesome-icon icon="envelope" class="icon" />
                                        </a>
                                        <a v-if="contact.PhoneNumber" :href="`tel:${contact.PhoneNumber}`">
                                            <font-awesome-icon icon="phone" class="icon" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<style lang="scss" scoped>
.content-block {
    margin-bottom: 1.5rem;
}
.leader-section {
    &.column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

.contact-section {
    &.column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin-bottom: 1.5rem;
    }

    &>div {
        height: max-content;
        width: 25%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        background-color: #f8f7f7;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;

        &__title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &__contact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;

            .icon {
                font-size: 1.5rem;

                &:hover {
                    color: #3d3d3d;
                }
            }
        }
    }
}
</style>
