<script lang="ts" setup>
import type { DocumentSection } from '~/ts/interfaces/resources/DocumentSection';

defineProps<{
    section: DocumentSection
}>()

const config = useRuntimeConfig()
</script>

<template>
    <div class="document-section">
        <div v-if="section.DisplayMode === 'list'" class="document-section--list">
            <div v-for="document in section.Documents" class="document-section__item">
                <a :key="document.id" :href="`${config.public.apiUrl}${document.Document.url}`"
                    target="_blank" class="document-section__item__link">
                    <div class="document-section__item__title">
                        <font-awesome-icon icon="file-pdf" class="icon" />
                        <span>{{ document.Title }}</span>
                    </div>
                    <div class="document-section__item__external-icon">
                        <font-awesome-icon icon="external-link-alt" class="icon" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.document-section {
    &--list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .document-section {
            &__item {
                display: flex;
                flex-direction: row;
                box-shadow: 2px 2px 5px #e5e5e5;

                &:hover {
                    cursor: pointer;
                    box-shadow: 4px 4px 5px #e5e5e5;
                }

                &__link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 1rem;
                    width: 100%;
                    text-decoration: none;
                }

                &__title {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    font-size: 1rem;
                    color: black;
                    font-weight: bold;

                    .icon {
                        margin-right: 1rem;
                        font-size: 1.5em;
                        color: #ec7e1e;
                    }
                }

                &__external-icon {
                    margin-left: auto;

                    .icon {
                        width: 1rem;
                        height: 1rem;
                        color: black;
                    }
                }


            }
        }
    }
}
</style>
